<h2 mat-dialog-title>Category Pool</h2>
<mat-dialog-content>Select an Image</mat-dialog-content>
<mat-dialog-actions>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROhw-2Hv2ruVrzHQRPH56JJXWiNcwJW_O4xLTMbuvKESwJhprXI0XGeQiJu1wlyLdhynk&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROhw-2Hv2ruVrzHQRPH56JJXWiNcwJW_O4xLTMbuvKESwJhprXI0XGeQiJu1wlyLdhynk&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWVucyUyMGZhc2hpb258ZW58MHx8MHx8&w=1000&q=80">
                <img style="padding: 5px" width="220px" height="180px" src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWVucyUyMGZhc2hpb258ZW58MHx8MHx8&w=1000&q=80">
            </button>
            <button  mat-button mat-dialog-close="https://images.unsplash.com/photo-1617922001439-4a2e6562f328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29tZW4lMjBmYXNoaW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80">
                <img style="padding: 5px" width="220px" height="180px" src="https://images.unsplash.com/photo-1617922001439-4a2e6562f328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29tZW4lMjBmYXNoaW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlM1h47AurseagIH06wLgsNWN4xDDRZIyeE0X-QVKF6lsELzE11LvEmZxP05gzZklZ5Q8&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlM1h47AurseagIH06wLgsNWN4xDDRZIyeE0X-QVKF6lsELzE11LvEmZxP05gzZklZ5Q8&usqp=CAU">
            </button>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2NzsHDaoYlCW83UWFY3UdhdMWCj6DU4BPcQ&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2NzsHDaoYlCW83UWFY3UdhdMWCj6DU4BPcQ&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCm7NcJ-R_f8hcER2hXFoBuXCRL1OAaZvImg&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCm7NcJ-R_f8hcER2hXFoBuXCRL1OAaZvImg&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC1dlGkfKqYXOb7UNTHui9GISQT071dkreOg&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC1dlGkfKqYXOb7UNTHui9GISQT071dkreOg&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP8vjGpggk0TSqJMteEcWCivzzlbYHETYepA&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP8vjGpggk0TSqJMteEcWCivzzlbYHETYepA&usqp=CAU">
            </button>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuXPqWovSLI_eOWC8Y_KI8teJu8LHHkBZOa_pcq8cAdatNdJMI3njMa1OhfTmkSCs2iE&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuXPqWovSLI_eOWC8Y_KI8teJu8LHHkBZOa_pcq8cAdatNdJMI3njMa1OhfTmkSCs2iE&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA317tsMUtVFtNtA0gZeMAXAEaOfqTlIDqDllq8pRL84exqDo-M1Cl5Z3e16h5YLtnfS4&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA317tsMUtVFtNtA0gZeMAXAEaOfqTlIDqDllq8pRL84exqDo-M1Cl5Z3e16h5YLtnfS4&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVociO7PJK-EOOVz1f-se7zT6euNErCJTcXA&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVociO7PJK-EOOVz1f-se7zT6euNErCJTcXA&usqp=CAU">
            </button>
            <button  mat-button mat-dialog-close="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThV3-gocOiubS5vzmSQv1IfnuutWo7SGNYejtd1pxj6LoO3HS5kJBZY4ECZf81hD0ofzw&usqp=CAU">
                <img style="padding: 5px" width="220px" height="180px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThV3-gocOiubS5vzmSQv1IfnuutWo7SGNYejtd1pxj6LoO3HS5kJBZY4ECZf81hD0ofzw&usqp=CAU">
            </button>
        </div>
    </div>
</mat-dialog-actions>